@page "/admin/generations"
@attribute [Authorize(Policy = Policies.RequireAdmins)]

<PageTitle>Generations - GBS</PageTitle>

<div class="tw-py-4 tw-space-y-4">
    <MudText Typo="Typo.h4">Generations</MudText>
    <MudButton StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" Variant="Variant.Filled" Href="/admin/generations/create">
        New
    </MudButton>
</div>

<MudTable Items="@GenerationState.Data" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@GenerationState.IsLoading" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd Class="tw-text-end">
            <MudIconButton Icon="@Icons.Material.Filled.Edit"
                           Size="Size.Small"
                           Href="@($"admin/generations/{context.Id}/edit")" />
        </MudTd>
    </RowTemplate>
</MudTable>

@code {

    [CascadingParameter]
    public GenerationState GenerationState { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        await GenerationState.ForceFetch();
    }
    
}