@page "/admin/users"
@attribute [Authorize(Policy = Policies.RequireAdmins)]

@inject IAuthService AuthService

<PageTitle>Users - GBS</PageTitle>

<div class="tw-py-4 tw-space-y-4">
    <MudText Typo="Typo.h4">Users</MudText>
</div>

<MudTable Items="@UserState.Data" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@UserState.IsLoading" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Church</MudTh>
        <MudTh>Roles</MudTh>
        <MudTh>Active</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.FirstName @context.LastName</MudTd>
        <MudTd DataLabel="Email">@context.Email</MudTd>
        <MudTd DataLabel="Church">
            <MudSelect T="int?"
                       Value="@context.ChurchId"
                       Label="Church"
                       Disabled="@(ChurchProcessing == context.Id)"
                       ValueChanged="@((value) => HandleChurchChange(value, context))">
                @foreach (var church in ChurchState.Data)
                {
                    <MudSelectItem T="int?" Value="@church.Id">@church.Name</MudSelectItem>
                }
            </MudSelect>
        </MudTd>
        <MudTd DataLabel="Roles" Class="tw-flex">
            @if (_users.Count > 0)
            {
                <MudSelect Label="Roles"
                           T="string"
                           MultiSelection="true"
                           SelectedValues="@_users.First(u => u.Id == context.Id).Roles"
                           SelectedValuesChanged="@((value) => HandleRoleChange(value, context))">
                    @foreach (var role in _roles)
                    {
                        <MudSelectItem T="string" Value="@role">@role</MudSelectItem>
                    }
                </MudSelect>
                <MudIconButton Icon="@Icons.Material.Filled.Save"
                               ButtonType="ButtonType.Button"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               Disabled="@(!_users.First(u => u.Id == context.Id).RoleChanged)"
                               OnClick="() => SubmitRoleChange(context.Id)">
                </MudIconButton>
            }
        </MudTd>
        <MudTd DataLabel="Active">
            <MudSwitch T="bool"
                       Checked="@context.IsActive"
                       CheckedChanged="@((bool e) => HandleActiveChange(e, context.Id))" />
        </MudTd>
    </RowTemplate>
</MudTable>

@code {
    [CascadingParameter]
    private UserState UserState { get; set; } = null!;
    
    [CascadingParameter]
    private ChurchState ChurchState { get; set; } = null!;
    
    UpdateUserChurchRequest _updateChurchDto = new();
    
    List<LocalUserDto> _users { get; set; } = new();
    List<string> _roles { get; set; } = new();
    string ChurchProcessing { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var tasks = new[] { UserState.ForceFetch(), ChurchState.Fetch() };
        await Task.WhenAll(tasks);
        var roles = await AuthService.FetchRoles();
        if (roles.Data != null)
        {
            _roles = roles.Data.Select(r => r.Name).ToList();
        }
        _users = UserState.Data.Select(u => new LocalUserDto(u)).ToList();
    }

    async Task HandleActiveChange(bool e, string userId)
    {
        var updateActiveDto = new UpdateUserActiveStateRequest { IsActive = e };
        await UserState.UpdateActiveState(userId, updateActiveDto);
    }

    async Task HandleChurchChange(int? value, UserResponse user)
    {
        ChurchProcessing = user.Id;
        if (value == null)
        {
            ChurchProcessing = string.Empty;
            return;
        }
        _updateChurchDto.ChurchId = value.Value;
        await UserState.UpdateChurch(user.Id, _updateChurchDto);
        ChurchProcessing = string.Empty;
    }

    void HandleRoleChange(IEnumerable<string> value, UserResponse user)
    {
        var roles = value.ToList();

        var dbUser = UserState.Data.First(u => u.Id == user.Id);
        var localUser = _users.First(u => u.Id == user.Id);
        if (roles.Count == dbUser.Roles.ToList().Count && !roles.Except(dbUser.Roles).Any())
        {
            localUser.RoleChanged = false;
            localUser.Roles = roles;
            return;
        }
        localUser.Roles = roles;
        localUser.RoleChanged = true;
    }

    async Task SubmitRoleChange(string userId)
    {
        var updateRoleDto = new UpdateUserRoleRequest { Roles = _users.First(u => u.Id == userId).Roles.ToList() };
        await UserState.UpdateRoles(userId, updateRoleDto);
        _users.First(u => u.Id == userId).RoleChanged = false;
    }

    class LocalUserDto : UserResponse
    {
        public LocalUserDto(UserResponse userDto)
        {
            Id = userDto.Id;
            FirstName = userDto.FirstName;
            LastName = userDto.LastName;
            Email = userDto.Email;
            ChurchId = userDto.ChurchId;
            ChurchName = userDto.ChurchName;
            Roles = userDto.Roles;
            IsActive = userDto.IsActive;
            RoleChanged = false;
        }

        public bool RoleChanged { get; set; }
    }

}