@page "/admin/students"
@attribute [Authorize(Policy = Policies.RequireAdminsAndTeachers)]

@inject IAuthService AuthService

<PageTitle>Students - GBS</PageTitle>

<div class="tw-py-4">
    <MudText Typo="Typo.h4">Students</MudText>
    @if (!_userIsAdmin && StudentState.Data.Count > 0)
    {
        <MudText Typo="Typo.subtitle1">@StudentState.Data.FirstOrDefault()?.ChurchName</MudText>
    }
    <MudButton StartIcon="@Icons.Filled.Add"
               Color="Color.Primary"
               Variant="Variant.Filled"
               Href="/admin/students/create"
               Class="tw-mt-4">
        New
    </MudButton>
</div>

<MudTable Items="@StudentState.Data" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@StudentState.IsLoading" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Name</MudTh>
        @if (_userIsAdmin)
        {
            <MudTh>Church</MudTh>
        }
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.FirstName @context.LastName</MudTd>
        @if (_userIsAdmin)
        {
            <MudTd DataLabel="Church">@context.ChurchName</MudTd>
        }
        <MudTd Class="tw-text-end">
            <MudIconButton Icon="@Icons.Material.Filled.Edit"
                           Size="Size.Small"
                           Href="@($"admin/students/{context.Id}/edit")" />
        </MudTd>
    </RowTemplate>
</MudTable>

@code {

    [CascadingParameter]
    StudentState StudentState { get; set; } = null!;

    bool _userIsAdmin;

    protected override async Task OnInitializedAsync()
    {
        await StudentState.Fetch();
        _userIsAdmin = await AuthService.UserIsAdmin();
    }

}