@page "/admin/subjects"
@attribute [Authorize(Policy = Policies.RequireAdmins)]
@implements IDisposable

@inject ISubjectStore SubjectStore
@* @inject IUiService UiService *@

<PageTitle>Subjects - GBS</PageTitle>

<div class="tw-py-4 tw-space-y-4">
    <MudText Typo="Typo.h4">Subjects</MudText>
    <MudButton StartIcon="@Icons.Filled.Add" Color="Color.Primary" Variant="Variant.Filled" Href="/admin/subjects/create">
        New
    </MudButton>
</div>

<MudTable Items="@SubjectStore.Value" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@SubjectStore.IsLoading" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Actions" Class="tw-text-end">
            <MudIconButton Icon="@Icons.Material.Filled.Edit"
                           Size="Size.Small"
                           Href="@($"admin/subjects/{context.Id}/edit")" />
        </MudTd>
    </RowTemplate>
</MudTable>

@* <MudGrid> *@
@*     @foreach (var subject in SubjectStore.Value) *@
@*     { *@
@*         <MudItem xs="6"> *@
@*             <MudCard> *@
@*                 <MudCardHeader> *@
@*                     <CardHeaderContent> *@
@*                         <MudText Typo="Typo.h6">@subject.Name</MudText> *@
@*                     </CardHeaderContent> *@
@*                     <CardHeaderActions> *@
@*                         <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Default" Href="@($"admin/subjects/{subject.Id}/edit")" /> *@
@*                     </CardHeaderActions> *@
@*                 </MudCardHeader> *@
@*                 <MudCardContent> *@
@*                     <MudText>This day everything happend.</MudText> *@
@*                     <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText> *@
@*                 </MudCardContent> *@
@*                 <MudCardActions> *@
@*                     <MudButton Variant="Variant.Text" Color="Color.Primary">Add Lesson</MudButton> *@
@*                 </MudCardActions> *@
@*             </MudCard> *@
@*         </MudItem> *@
@*     } *@
@* </MudGrid> *@

@code {

    protected override async Task OnInitializedAsync()
    {
        // UiService.Loading = SubjectStore.IsLoading;
        await SubjectStore.Fetch();
        SubjectStore.OnChange += StateHasChanged;
    }

    // protected override void OnAfterRender(bool firstRender)
    // {
    //     UiService.Loading = SubjectStore.IsLoading;
    // }

    public void Dispose()
    {
        SubjectStore.OnChange -= StateHasChanged;
    }

}