<div class="modal modal-bottom sm:modal-middle @GetCssClass()">
    <div class="modal-box">
        <h3 class="font-bold text-lg">@Title</h3>
        @if (Message != null)
        {
            <p class="py-4">@Message</p>
        }
        <div class="modal-action">
            <Button Color="BtnColor.Ghost" @onclick="OnCancel">Cancel</Button>
            <Button Color="@Color" @onclick="OnConfirm">@ConfirmText</Button>
        </div>
    </div>
</div>

@code {
    private bool _showModal = true;

    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;
    
    [Parameter]
    public string? Message { get; set; }
    
    [Parameter, EditorRequired]
    public string ConfirmText { get; set; } = "Confirm";
    
    [Parameter, EditorRequired]
    public EventCallback OnConfirm { get; set; }
    
    [Parameter, EditorRequired]
    public EventCallback OnCancel { get; set; }
    
    [Parameter]
    public BtnColor Color { get; set; } = BtnColor.Primary;
    
    private string GetCssClass()
    {
        return _showModal ? "modal-open" : "";
    }
}