@typeparam TKey
@typeparam TValue
@using System.Linq.Expressions

<div class="form-control w-full max-w-md">
    @if (Label != null)
    {
        <label class="label">
            <span class="label-text">@Label</span>
        </label>
    }
    <select id="@Id" class="select select-bordered" @onchange="HandleChange">
        @if (Placeholder != null)
        {
            <option value="" selected disabled>@Placeholder</option>
        }
        @foreach (var item in Items)
        {
            <option value="@item.Key" selected="@(item.Key?.Equals(Value))">@item.Value</option>
        }
    </select>
    @if (For != null)
    {
        <ValidationMessage For="@For"/>
    }
</div>

@code {

    [Parameter]
    public string Id { get; set; } = string.Empty;
    
    [Parameter]
    public TKey Value { get; set; } = default!;

    [Parameter]
    public EventCallback<TKey> ValueChanged { get; set; }
    
    [Parameter]
    public string? Label { get; set; }
    
    [Parameter]
    public string? Placeholder { get; set; }
    
    [Parameter]
    public Dictionary<TKey, TValue> Items { get; set; } = null!;

    [Parameter]
    public Expression<Func<TKey>>? For { get; set; }
    
    async Task HandleChange(ChangeEventArgs args)
    {
        if (args.Value == null) return;
        var value = args.Value;
        if (value is string stringValue)
        {
            if (typeof(TKey) == typeof(int))
            {
                value = int.Parse(stringValue);
            }
        }
        Value = (TKey)value;
        await ValueChanged.InvokeAsync(Value);
    }
}