@using Gbs.Shared.Lessons
<MudGrid Class="tw-relative tw-pt-2">
    @foreach (var lesson in Lessons.Where(s => s.IsVisible != Visibility.Private))
    {
        <MudItem xs="12" md="6" xl="4">
            <MudCard Class="tw-h-36">
                <MudCardContent Class="tw-flex">
                    <a class="tw-flex-grow-0 tw-flex-shrink-0 tw-w-28 hover:tw-scale-90" href="@($"school/lessons/{lesson.Id}")">
                        <svg class="tw-w-full tw-h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 318 318">
                            <g id="Ellipse_3" data-name="Ellipse 3" fill="#f3f3f3" stroke="#707070" stroke-width="1">
                                <circle cx="159" cy="159" r="159" stroke="none" />
                                <circle cx="159" cy="159" r="158.5" fill="none" />
                            </g>
                            <g id="Ellipse_4" data-name="Ellipse 4" transform="translate(39 39)" fill="#e7e7e7" stroke="#707070"
                               stroke-width="1">
                                <circle cx="120" cy="120" r="120" stroke="none" />
                                <circle cx="120" cy="120" r="119.5" fill="none" />
                            </g>
                            <g id="Ellipse_5" data-name="Ellipse 5" transform="translate(105 105)" fill="#d5d5d5" stroke="#707070"
                               stroke-width="1">
                                <circle cx="54" cy="54" r="54" stroke="none" />
                                <circle cx="54" cy="54" r="53.5" fill="none" />
                            </g>
                            <g id="Polygon_1" data-name="Polygon 1" transform="translate(196 127) rotate(90)" fill="#fff">
                                <path
                                    d="M 51.93773651123047 55.5 L 12.06225776672363 55.5 C 9.718427658081055 55.5 7.616767883300781 54.28973007202148 6.440338134765625 52.26252746582031 C 5.263907909393311 50.23531723022461 5.255807876586914 47.81011962890625 6.418678283691406 45.77509689331055 L 26.35641860961914 10.88404846191406 C 27.52827835083008 8.833288192749023 29.63802719116211 7.608958721160889 31.99999809265137 7.608958721160889 C 34.36195755004883 7.608958721160889 36.47170639038086 8.833288192749023 37.64357757568359 10.88404846191406 L 57.58132934570312 45.77509689331055 C 58.74418640136719 47.81011962890625 58.73608779907227 50.23531723022461 57.55965805053711 52.26252746582031 C 56.38321685791016 54.28973007202148 54.28156661987305 55.5 51.93773651123047 55.5 Z"
                                    stroke="none" />
                                <path
                                    d="M 31.99999809265137 8.10894775390625 C 29.81972885131836 8.10894775390625 27.87226867675781 9.239109039306641 26.7905387878418 11.13211822509766 L 6.852787017822266 46.02317047119141 C 5.779376983642578 47.90164947509766 5.786857604980469 50.14029693603516 6.872798919677734 52.01155853271484 C 7.958736419677734 53.88282775878906 9.898719787597656 55 12.06225967407227 55 L 51.93773651123047 55 C 54.10128021240234 55 56.041259765625 53.88282775878906 57.127197265625 52.01155853271484 C 58.21313858032227 50.14029693603516 58.22060775756836 47.90164947509766 57.14719772338867 46.02317047119141 L 37.20945739746094 11.13211822509766 C 36.12772750854492 9.239109039306641 34.18026733398438 8.10894775390625 31.99999809265137 8.10894775390625 M 31.99999809265137 7.108955383300781 C 34.36703491210938 7.108955383300781 36.73406982421875 8.284629821777344 38.07769775390625 10.63597869873047 L 58.01543807983398 45.52703094482422 C 60.68206787109375 50.19362640380859 57.3125 56 51.93773651123047 56 L 12.06225967407227 56 C 6.687496185302734 56 3.317928314208984 50.19362640380859 5.984546661376953 45.52703094482422 L 25.92229843139648 10.63597869873047 C 27.26592636108398 8.284629821777344 29.63296127319336 7.108955383300781 31.99999809265137 7.108955383300781 Z"
                                    stroke="none" fill="#707070" />
                            </g>
                        </svg>
                    </a>
                    <div class="tw-flex-1 tw-min-w-0 tw-flex tw-flex-col tw-pl-6 tw-relative">
                        <div class="tw-pb-2">
                            <MudText Typo="Typo.h5" Class="tw-truncate">@lesson.Name</MudText>
                            <MudText Typo="Typo.body2">@lesson.SubjectName</MudText>
                        </div>
                        <MudText Typo="Typo.body2">
                            <MudIcon Icon="@Icons.Material.Filled.Mic"></MudIcon>
                            @lesson.TeacherName
                        </MudText>

                        @if (lesson.HasWatched)
                        {
                            <MudIcon Icon="@Icons.Material.Filled.CheckCircle" 
                                     Color="Color.Success"
                                     Class="tw-absolute -tw-top-2 -tw-right-2">
                                @lesson.Order
                            </MudIcon>
                        }

                        <MudText Typo="Typo.body1" Class="tw-mt-auto tw-flex tw-justify-end tw-text-gray-400 tw-font-bold -tw-mr-1 -tw-mb-3">
                            @lesson.Order
                        </MudText>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>
    }
</MudGrid>


@code {

    [Parameter, EditorRequired]
    public List<LessonResponse> Lessons { get; set; } = new();

}