@page "/admin/churches"
@attribute [Authorize(Policy = Policies.RequireAdmins)]

<PageTitle>Churches - GBS</PageTitle>

<div class="tw-py-4 tw-space-y-4">
    <MudText Typo="Typo.h4">Churches</MudText>
    <MudButton StartIcon="@Icons.Filled.Add" Color="Color.Primary" Variant="Variant.Filled" Href="/admin/churches/create">
        New
    </MudButton>
</div>

<MudTable Items="@ChurchState.Data" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@ChurchState.IsLoading" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Country</MudTh>
        <MudTh>Students</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Country">@context.Country</MudTd>
        <MudTd DataLabel="Country">@context.StudentCount</MudTd>
        <MudTd Class="tw-text-end">
            <MudIconButton Icon="@Icons.Material.Filled.Edit" 
                           Size="Size.Small" 
                           Href="@($"admin/churches/{context.Id}/edit")"/>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {

    [CascadingParameter]
    public ChurchState ChurchState { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        await ChurchState.Fetch();
        // await ChurchState.ForceFetch();
        // ChurchStore.OnChange += StateHasChanged;
    }

    // public void Dispose()
    // {
        // ChurchStore.OnChange -= StateHasChanged;
    @* } *@

}