<MudPaper Width="100%" Class="tw-p-6 tw-overflow-y-auto">
    <div class="tw-flex tw-justify-end -tw-mt-3 -tw-mr-3">
        <MudIconButton Icon="@Icons.Material.Filled.Close" Href="admin/students" />
    </div>

    @if (Student != null)
    {
        <MudGrid>
            <MudItem xs="6">
                <MudText Typo="Typo.subtitle2">First Name</MudText>
                <MudText Typo="Typo.body1">@Student.FirstName</MudText>
            </MudItem>
            <MudItem xs="6">
                <MudText Typo="Typo.subtitle2">Last Name</MudText>
                <MudText Typo="Typo.body1">@Student.LastName</MudText>
            </MudItem>

            <MudItem xs="6">
                <MudText Typo="Typo.subtitle2">Date of Birth</MudText>
                <MudText Typo="Typo.body1">@Student.DateOfBirth.ToShortDateString()</MudText>
            </MudItem>

            <MudItem xs="6">
                <MudText Typo="Typo.subtitle2">Marital Status</MudText>
                <MudText Typo="Typo.body1">@Student.MaritalStatus</MudText>
            </MudItem>

            <MudItem xs="6">
                <MudText Typo="Typo.subtitle2">Church</MudText>
                <MudText Typo="Typo.body1">@Student.HomeChurch</MudText>
            </MudItem>

            <MudItem xs="6">
                <MudText Typo="Typo.subtitle2">Status</MudText>
                <MudText Typo="Typo.body1">@Student.EnrollmentStatus</MudText>
            </MudItem>
        </MudGrid>

        <MudDivider DividerType="DividerType.Middle" Class="tw-my-6" />

        <MudGrid>
            <MudItem xs="8">
                <MudText Typo="Typo.h5">Grades</MudText>
            </MudItem>
            <MudItem xs="4" Class="tw-flex tw-justify-end">
                <MudButton Variant="Variant.Filled"
                           Color="Color.Secondary"
                           StartIcon="@Icons.Material.Filled.Add"
                           Href="@($"admin/students/{Student.Id}/grades/create")">
                    Add
                </MudButton>
            </MudItem>
            @if (Student.Grades.Any())
            {
                <MudTable Items="Subjects.Where(s => Student.Grades.Any(g => g.SubjectId == s.Id))"
                          Dense="true"
                          Class="tw-w-full">
                    <HeaderContent>
                        <MudTh>Subject</MudTh>
                        @foreach (var gradeType in GradeTypes)
                        {
                            <MudTh>@gradeType.Name</MudTh>
                        }
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Subject">@context.Name</MudTd>
                        @foreach(var gradeType in GradeTypes)
                        {
                            @if (Student.Grades.Any(g => g.SubjectName == context.Name && g.GradeType == gradeType.Name))
                            {
                                <MudTd DataLabel="@gradeType.Name">
                                    @Student.Grades.First(g => g.SubjectName == context.Name && g.GradeType == gradeType.Name).Percent%
                                </MudTd>
                            }
                            else
                            {
                                <MudTd DataLabel="@gradeType.Name"></MudTd>
                            }
                        }
                    </RowTemplate>
                </MudTable>
            }
        </MudGrid>

        @if (Student.Email != null || Student.Phone != null)
        {
            <MudDivider DividerType="DividerType.Middle" Class="tw-my-6" />

            <MudGrid>
                <MudItem xs="12">
                    <MudText Typo="Typo.h5">Contact</MudText>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.subtitle2">Email</MudText>
                    <MudText Typo="Typo.body1">@Student.Email</MudText>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.subtitle2">Phone</MudText>
                    <MudText Typo="Typo.body1">@Student.Phone</MudText>
                </MudItem>
            </MudGrid>
        }

        <MudDivider DividerType="DividerType.Middle" Class="tw-my-6" />

        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.h5">Address</MudText>
            </MudItem>
            @if (Student.Address != null)
            {
                <MudItem xs="12">
                    <MudText Typo="Typo.subtitle2">Address</MudText>
                    <MudText Typo="Typo.body1">@Student.Address</MudText>
                </MudItem>
            }
            <MudItem xs="6">
                <MudText Typo="Typo.subtitle2">City</MudText>
                <MudText Typo="Typo.body1">@Student.City</MudText>
            </MudItem>
            <MudItem xs="6">
                <MudText Typo="Typo.subtitle2">Province/State</MudText>
                <MudText Typo="Typo.body1">@Student.Province</MudText>
            </MudItem>

            <MudItem xs="6">
                <MudText Typo="Typo.subtitle2">Country</MudText>
                <MudText Typo="Typo.body1">@Student.Country</MudText>
            </MudItem>
            @if (Student.PostalCode != null)
            {
                <MudItem xs="6">
                    <MudText Typo="Typo.subtitle2">Postal code</MudText>
                    <MudText Typo="Typo.body1">@Student.PostalCode</MudText>
                </MudItem>
            }
        </MudGrid>
        
        <div class="tw-flex tw-py-4">
            <MudButton Variant="Variant.Filled"
                       Color="Color.Warning"
                       StartIcon="@Icons.Material.Filled.Edit"
                       Href="@($"/admin/students/{Student.Id}/edit")">
                Edit
            </MudButton>
        </div>
    }
</MudPaper>

@code {

    [Parameter]
    [EditorRequired]
    public StudentResponse? Student { get; set; }
    
    [Parameter]
    [EditorRequired]
    public List<GradeTypeResponse> GradeTypes { get; set; } = new();
    
    [Parameter]
    [EditorRequired]
    public List<SubjectResponse> Subjects { get; set; } = new();

}

